{% extends "users/base.html" %}

{% block title %}
  Order details page
{% endblock %}

{% block body %}
  <ul class="nav justify-content-end" style="height: 50px; margin-bottom: 40px;">
    <li class="nav-item">
    <a class="nav-link" style="margin-top: 5px; font-size: 25px;"  href="{% url 'index' %}">Menu</a>
    </li>
    &nbsp;&nbsp;&nbsp;
    <li class="nav-item">
    <a class="nav-link" style="margin-top: 5px; font-size: 25px;"  href="{% url 'cart' %}">Cart</a>
    </li>
    &nbsp;&nbsp;&nbsp;
    <li class="nav-item">
    <a class="nav-link" style="margin-top: 5px; font-size: 25px;"  href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
  <h1 style="margin-top: 20px; margin-bottom: 30px;">Order Details</h1>
  <div>
    <br>
    <h4 class="text-right" style="margin-right: 60px;">Username: {{user}}</h4>
    <h4>List of items</h4>
    <br>
    <table class="table table-borderless"  style="border: 1px solid black; padding: 15px;">
      <colgroup>
          <col width="23%"></col>
          <col width="8%"></col>
          <col width="8%"></col>
          <col width="8%"></col>
          <col width="23%"></col>
          <col width="23%"></col>
      </colgroup>
      <thead>
          <tr>
              <th scope="col">Item</th>
              <th scope="col">Size</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Toppings</th>
              <th scope="col">Extras</th>
          </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.size}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td>{{item.toppings}}</td>
            <td>{{item.extras}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
    <h4 class="text-right" style="margin-right: 80px; margin-top: 20px;">Total - {{subtotal}}</h4>
    <div class="text-right">
      <form action="{% url 'finish' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="margin-right: 70px; margin-top: 30px;">Confirm Order</button>
      </form>
    </div>

  </div>
{% endblock %}
